doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About
  body
    h1  Viewers
    h1 Thank you
    h4 We found #{numberOfView} views
    .views-all-content
      each view in inputdata
        p= view.name
        p= view.email
        p= view.age